<a href="https://colab.research.google.com/github/DIVYANSHU85/Data-Processing/blob/main/Real_Fake_Job_Posting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FAKE or REAL JOB POSTINGS 
# > Data Processing 

>This dataset is taken from Kaggle, the dataset is about the data of JOBs posted by the HRs of different companies of USA.

>We are doing the data preprocessing in the dataset making it useable for further processing of data for predicting whether the job posted is FAKE or REAL one.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Importing Pandas Library for creating a DATAFRAME from the dataset which is a CSV file.

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/fake_job_postings.csv")
df.head(3)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0

# Getting Information of RAW Dataframe <df>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

Checking the number of null values in each columns of the dataset

In [ ]:
df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

Printing the Total Data, Real Data and Fake Data of the dataset

In [ ]:
print("Total Data: ", df.shape) #Total Data
print("Real Data: ", df[df['fraudulent'] == 0].shape) #Real Data
print("Fake Data: ", df[df['fraudulent'] == 1].shape) #Fake Date

Total Data:  (17880, 18)
Real Data:  (17014, 18)
Fake Data:  (866, 18)

Calculating the total number of non-null values in each column

In [ ]:
df.count()

job_id                 17880
title                  17880
location               17534
department              6333
salary_range            2868
company_profile        14572
description            17879
requirements           15185
benefits               10670
telecommuting          17880
has_company_logo       17880
has_questions          17880
employment_type        14409
required_experience    10830
required_education      9775
industry               12977
function               11425
fraudulent             17880
dtype: int64

Checking, if there is any duplicate value in the dataset.

In [ ]:
df.duplicated().sum()

0

Getting the count of unique rows of "telecommuting" column in the Dataframe

In [ ]:
df['telecommuting'].value_counts()

0    17113
1      767
Name: telecommuting, dtype: int64

Getting the count of unique rows of "employment_type" column in the Dataframe

In [ ]:
df['employment_type'].value_counts()

Full-time    11620
Contract      1524
Part-time      797
Temporary      241
Other          227
Name: employment_type, dtype: int64

# Cleaing of the RAW Dataset
First of all droping the unwanted columns of the dataset, which are not required for the classification and prediction of Fraudulent Jobs

In [ ]:
clm_drop = ['job_id','salary_range','telecommuting','has_questions','department','industry']

clean_df = df.drop(clm_drop, axis= 1)
clean_df.isnull().sum()
# clean_df.columns

title                     0
location                346
company_profile        3308
description               1
requirements           2695
benefits               7210
has_company_logo          0
employment_type        3471
required_experience    7050
required_education     8105
function               6455
fraudulent                0
dtype: int64

Handling the Null values,

> In the Columns: employment_type, required_experience, required_education, location, the "NaN" values are replaced with "Unknown" because these were Unknown in the job posting.

In [ ]:
final_df = clean_df
ukn_clm = ['employment_type', 'required_experience', 'required_education','location']
for col in ukn_clm:
  final_df[col].fillna('Unknown', inplace=True)

final_df.isnull().sum()

title                     0
location                  0
company_profile        3308
description               1
requirements           2695
benefits               7210
has_company_logo          0
employment_type           0
required_experience       0
required_education        0
function               6455
fraudulent                0
dtype: int64

Droping the rows of dataframe in which there contains null values in the columns: 'company_profile', 'description', 'requirements', 'benefits', simultaneously and filling the remaining null values with blank string to simplify the dataframe.

In [ ]:
txt_clm = ['company_profile', 'description', 'requirements', 'benefits']

final_df = final_df.dropna(subset=txt_clm, how='all')
for col in txt_clm:
    final_df[col].fillna(' ', inplace=True)

In [ ]:
final_df.isnull().sum()

title                     0
location                  0
company_profile           0
description               0
requirements              0
benefits                  0
has_company_logo          0
employment_type           0
required_experience       0
required_education        0
function               6454
fraudulent                0
dtype: int64

Filling the 'NaN' values of "Function" Column with 'Others', because the Job function was not specified

In [ ]:
final_df['function'].fillna('Others', inplace = True)

All the Null Values are handled and the dataset is now ready for further use to classify and predict the fraudulent jobs.

In [ ]:
final_df.isnull().sum()

title                  0
location               0
company_profile        0
description            0
requirements           0
benefits               0
has_company_logo       0
employment_type        0
required_experience    0
required_education     0
function               0
fraudulent             0
dtype: int64

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17879 entries, 0 to 17879
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                17879 non-null  object
 1   location             17879 non-null  object
 2   company_profile      17879 non-null  object
 3   description          17879 non-null  object
 4   requirements         17879 non-null  object
 5   benefits             17879 non-null  object
 6   has_company_logo     17879 non-null  int64
 7   employment_type      17879 non-null  object
 8   required_experience  17879 non-null  object
 9   required_education   17879 non-null  object
 10  function             17879 non-null  object
 11  fraudulent           17879 non-null  int64
dtypes: int64(2), object(10)
memory usage: 1.8+ MB